<mat-sidenav-container class="app-sidenav-container" [class.dark-theme]="isDarkTheme" >
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
               [opened]="!isScreenSmall()"
               [mode]="isScreenSmall() ? 'over' : 'side'">

<mat-toolbar color="accent" class="mat-elevation-z10">
  <div class="logo logo--offscreen flex-home hidden-sm hidden-xs hidden-md" tabindex="1">
    <img style="height:64px;width:64px;position:initial!important" src="assets/Wells-Fargo-Logo-225x225.png">
  </div>
  <div class="logo logo--offscreen flex-home visible-xs visible-sm visible-md hidden-lg" tabindex="1" style="padding:16px 35px !important;">
    <img style="height:26px;margin-left:-20%;position:initial!important" src="assets/logo-sprite-xs-small.png" alt="Logo sprite xs small">
  </div>
</mat-toolbar>
    <mat-toolbar color="primary" class="mat-elevation-z10">
      Actions
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let configuration of configs ">
              <a matLine [routerLink]="['/configurationmanager',configuration.id]" routerLinkActive="active">
                <mat-icon svgIcon="{{configuration.iconId}}"></mat-icon>{{ configuration.name }}
              </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar (toggleTheme)="toggleTheme()" (toggleSidenav)="sidenav.toggle()" (logout)="logout()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>
